# Experiment: UNet with strided conv downsamples and compact ResNet bottleneck

_base_: "base.yaml"

run_name: "monet-unet-compact128-resnet9"
description: "UNet with strided conv downsamples, 128-channel bottleneck, 9 residual blocks, full skips, linear output"

s3:
  prefix: "monet-gan/models/unet-compact128-resnet9"

wandb:
  tags:
    - "cyclegan"
    - "unet"
    - "strided-conv"
    - "compact128"
    - "resnet9"
    - "instancenorm"

generator:
  encoder:
    # Level 0: 64x64
    - type: conv
      in_channels: 3
      out_channels: 64
      kernel_size: 7
      stride: 1
      padding: 3
      padding_mode: reflect
      norm: instance
      activation: relu
    
    # Level 1: 64x64 -> 32x32
    - type: conv
      in_channels: 64
      out_channels: 128
      kernel_size: 3
      stride: 2
      padding: 1
      padding_mode: reflect
      norm: instance
      activation: relu
    
    # Level 2: 32x32 -> 16x16
    - type: conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      stride: 2
      padding: 1
      padding_mode: reflect
      norm: instance
      activation: relu
    
    # Level 3: 16x16 -> 8x8
    - type: conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      stride: 2
      padding: 1
      padding_mode: reflect
      norm: instance
      activation: relu
    
    # Level 4: 8x8 -> 4x4
    - type: conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      stride: 2
      padding: 1
      padding_mode: reflect
      norm: instance
      activation: relu
  
  bottleneck:
    # 4x4 resolution, 128 channels
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    - type: residual
      channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
  
  decoder:
    # Level 3: 4x4 -> 8x8, concat with encoder[3] (128ch) -> 256ch input
    - type: upsample_conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      scale_factor: 2
      mode: bilinear
      padding_mode: reflect
      norm: instance
      activation: relu
    - type: double_conv
      in_channels: 256
      out_channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    
    # Level 2: 8x8 -> 16x16, concat with encoder[2] (128ch) -> 256ch input
    - type: upsample_conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      scale_factor: 2
      mode: bilinear
      padding_mode: reflect
      norm: instance
      activation: relu
    - type: double_conv
      in_channels: 256
      out_channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    
    # Level 1: 16x16 -> 32x32, concat with encoder[1] (128ch) -> 256ch input
    - type: upsample_conv
      in_channels: 128
      out_channels: 128
      kernel_size: 3
      scale_factor: 2
      mode: bilinear
      padding_mode: reflect
      norm: instance
      activation: relu
    - type: double_conv
      in_channels: 256
      out_channels: 128
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
    
    # Level 0: 32x32 -> 64x64, concat with encoder[0] (64ch) -> 128ch input
    - type: upsample_conv
      in_channels: 128
      out_channels: 64
      kernel_size: 3
      scale_factor: 2
      mode: bilinear
      padding_mode: reflect
      norm: instance
      activation: relu
    - type: double_conv
      in_channels: 128
      out_channels: 64
      kernel_size: 3
      padding_mode: reflect
      norm: instance
      activation: relu
      dropout: 0.0
  
  output:
    - type: conv
      in_channels: 64
      out_channels: 3
      kernel_size: 1
      stride: 1
      padding: 0
      norm: none
      activation: none
  
  # Skip connections: [encoder_block_idx, decoder_block_idx]
  # encoder[3] = 8x8 -> decoder[1]
  # encoder[2] = 16x16 -> decoder[3]
  # encoder[1] = 32x32 -> decoder[5]
  # encoder[0] = 64x64 -> decoder[7]
  skip_connections:
    - [3, 1]
    - [2, 3]
    - [1, 5]
    - [0, 7]

discriminator:
  type: patchgan
  input_channels: 3
  base_channels: 64
  num_layers: 3
  kernel_size: 4
  norm: instance
  activation: leaky_relu
  use_sigmoid: false

optimizer:
  generator:
    type: adam
    lr: 0.0001
    betas: [0.0, 0.9]
  
  discriminator:
    type: adam
    lr: 0.0001
    betas: [0.0, 0.9]

losses:
  gan_mode: wgan-gp
  cycle_loss_type: l1
  identity_loss_type: l1
  
  weights:
    adversarial: 1.0
    cycle: 10.0
    identity: 5.0
    perceptual: 1.0
    gradient_penalty: 10.0
