# Experiment: CycleGAN with MultiScale PatchGAN discriminator (no perceptual loss)

_base_: "base.yaml"

run_name: "monet-multiscale-wgan-gp"
description: "CycleGAN with WGAN-GP loss and MultiScale PatchGAN discriminator"

s3:
  prefix: "monet-gan/models/multiscale-patchgan"

wandb:
  tags:
    - "cyclegan"
    - "unet"
    - "patchgan"
    - "multiscale"
    - "wgan-gp"

discriminator:
  type: multiscale
  num_discriminators: 3
  input_channels: 3
  base_channels: 64
  num_layers: 2
  kernel_size: 4
  norm: layer
  activation: leaky_relu
  use_sigmoid: false

optimizer:
  generator:
    type: adam
    lr: 0.0001
    betas: [0.0, 0.9]
  
  discriminator:
    type: adam
    lr: 0.0001
    betas: [0.0, 0.9]

losses:
  gan_mode: wgan-gp
  cycle_loss_type: l1
  identity_loss_type: l1
  
  weights:
    adversarial: 1.0
    cycle: 10.0
    identity: 5.0
    perceptual: 0.0
    gradient_penalty: 10.0
